Makefile
Makefile.in
*.pyc

/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.rpath
/config.status
/config.sub
/configure
/ibus-plover.spec
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/po/
/py-compile
/stamp-h1
/engine/ibus-engine-plover
/engine/plover.xml
/engine/plover.xml.in
